
@import "~normalize-scss/sass/normalize";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
//@import url('/src/assets/img/image-jeremy.png');
$font-stack:    'Rubik', sans-serif;
$_fs_base: 18px;
$_wegth_ligth: 300;
$_wegth_normal: 400;
$_wegth_bold: 500;
$_bord_rad: 1rem;
$_bord_rad_fool: 50%;
///


body{
  font-size: $_fs_base;

}
$icon:".";
.block{
  background:url('../img/image-jeremy.png')no-repeat;
 height: 10rem;
 width: 10rem;
 margin: 0 auto;
}
