.about-section.section-offset
    .container
        h2.about-section__title.title--center We are Createx Construction Bureau 
        p.descr.descr--center We&nbsp;are rightfully considered to&nbsp;be&nbsp;the best construction company in&nbsp;the USA.
        .video-block
            button(aria-label="play-video").btn-reset.video-block__play
                    img(src=require('../assets/svg/play.svg'), alt="")
            button(aria-label="muted-video").btn-reset.video-block__muted
                    img(src=require('../assets/svg/muted.svg'), alt="")
            video(src=require("../resourse/video/about.mp4") muted loop preload="metadata").video-block__content
