section.facts
    .container 
        h2.title.title--center Some facts and figures
        ul.list-reset.facts__list
            li.facts__item
                .facts-element
                    .facts-element__circle
                        include ../assets/svg/ellipse.svg
                        include ../assets/svg/ellipse-1.svg
                    .facts-element__value 98%
                    span.facts-element__text Totally satisfied clients
            li.facts__item        
                .facts-element
                    .facts-element__circle
                        include ../assets/svg/ellipse-1-20.svg
                        include ../assets/svg/ellipse-20.svg
                    .facts-element__value 20
                    span.facts-element__text Years of experience
            li.facts__item        
                .facts-element
                    .facts-element__circle
                        include ../assets/svg/ellipse-blue-1.svg
                        include ../assets/svg/ellipse-blue.svg
                    .facts-element__value 9452
                    span.facts-element__text Working hours spent
            li.facts__item        
                .facts-element
                    .facts-element__circle
                        include ../assets/svg/ellipse-100.svg
                    .facts-element__value 100%
                    span.facts-element__text Succeeded projects


