section.hero 
    .container
        .hero__content
            h1.main-title.main-title--home Create
                span x 
                |Construction
            p.main__descr.main-descr--home Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
            .hero__btns
                button.btn-reset.btn.btn--stroke.btn--stroke-ligth Learn more about us
                button.btn-reset.btn.btn--fill SUBMIT REQUEST
