section.mission.section-offset 
    .container 
        h2.title.title--center Our core values 
        p.descr.descr--center Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.
        ul.list-reset.mission__list 
            li.mission__item.mission__item--quality
                h3.mission__subtitle Quality
                p.mission__descr Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
            li.mission__item.mission__item--safety
                h3.mission__subtitle Safety
                p.mission__descr Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.
            li.mission__item.mission__item--comfort 
                h3.mission__subtitle Comfort
                p.mission__descr Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.
        form.know-form(action="#")
            h2.know-form__title Want to&nbsp;know more? Ask&nbsp;us a&nbsp;question:
            .know-form__content 
                label.know-form__field.form-field 
                    span.form-field__caption name 
                    input(type="text" placeholder="Your name").form-field__input
                label.know-form__field.form-fieled 
                    span.form-field__caption Phone 
                    input(type="tel" placeholder="Your phone").form-field__input
                label.know-form__field.form-fieled.form-field--big 
                    span.form-field__caption Message 
                    input(type="text" placeholder="Your messsage").form-field__input
                button(type="submit").btn-reset.btn.btn--fill.know-form__btn send