section.page-hero 
    .container 
        ul.list-reset.breadcrumbs.page-hero__breadcrumbs
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Homepage
            li.breadcrumbs__item
                a.breadcrumbs__link() Services  
        h1.page-hero__title Services
        p.page-hero__descr If&nbsp;you are looking for a&nbsp;full-service construction company, look to&nbsp;Createx Construction Bureau. We&nbsp;are doing our best to&nbsp;be&nbsp;a&nbsp;partner for all of&nbsp;your construction needs.

    