.section-portfolio
    .container 
        .section-portfolio__top
            h2.title.section-portfolio__title Browse our selected projects and learn more about our work
            .slider-nav
                button.btn-reset.slider-nav__btn.slider-btn.section-portfolio__prev
                    include ../assets/svg/Left.svg   
                button.btn-reset.slider-nav__btn.slider-btn.section-portfolio__next
                    include ../assets/svg/Right.svg
                