section.recent-news
    .container 
        h2.title.title--center.recent-news__title Recent news
        ul.list-reset.recent-news__list
            li.recent-news__item
                article.recent-article.recent-article
                    img(src=require("../assets/img/recent-1.jpg"), alt="article-1").recent-article__image
                    .recent-article__text
                        h3.recent-article__title 
                            a.recent-article__link How to&nbsp;Build Climate Change-Resilient Infrastructure
                        .recent-article__meta.article-meta
                            a(href="#").article-meta__item Industry News
                            time(datetime="2021-06-24 19:00").article-meta__item June 24, 2020
                            span.article-meta__item.article-meta__item--comments 4 comments
                        p.recent-article__descr Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            li.recent-news__item
                article.recent-article.recent-article--small
                    img(src=require("../assets/img/recent-2.jpg"), alt="article-2").recent-article__image
                    .recent-article__text
                        h3.recent-article__title 
                            a.recent-article__link How Construction Can Help Itself
                        .recent-article__meta.article-meta
                            a(href="#").article-meta__item Innovation
                            time(datetime="2021-06-24 19:00").article-meta__item June 24, 2020
                            span.article-meta__item.article-meta__item--comments No comments
                        p.recent-article__descr Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            li.recent-news__item
                article.recent-article.recent-article--small
                    img(src=require("../assets/img/recent-3.jpg"), alt="article-3").recent-article__image
                    .recent-article__text
                        h3.recent-article__title 
                            a.recent-article__link Types of Flooring Materials
                        .recent-article__meta.article-meta
                            a(href="#").article-meta__item Company News
                            time(datetime="2021-06-24 19:00").article-meta__item June 24, 2020
                            span.article-meta__item.article-meta__item--comments No comments
                        p.recent-article__descr Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...




        .recent-news__learn.learn-more
            h4.services-section__subtitle Explore all our news posts
            a.btn-reset.services-section__btn.btn.btn--fill View all news

        