section.services 
    .container 
        h2.visually-hidden Services-content
        ul.list-reset.services__list 
            li.services__item
                .services__image
                    img(src=require("../assets/img/services-1.jpg"), alt="services-1").services__img
                .services__info 
                    h2.services__title Construction
                    p.services__descr Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.
                    a(href="").services__link.btn.btn--stroke.btn--stroke-primary lern more
            li.services__item.services__item--revers
                .services__image
                    img(src=require("../assets/img/services-2.jpg"), alt="services-1").services__img
                .services__info 
                    h2.services__title Project Development
                    p.services__descr Volutpat tellus mauris sit sit. Posuere ut&nbsp;sit vestibulum amet viverra&nbsp;in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.
                    a(href="").services__link.btn.btn--stroke.btn--stroke-primary lern more
            li.services__item
                .services__image
                    img(src=require("../assets/img/services-3.jpg"), alt="services-1").services__img
                .services__info 
                    h2.services__title Interior Design
                    p.services__descr Eleifend orci massa et&nbsp;facilisis orci feugiat&nbsp;ac. Congue in&nbsp;ut&nbsp;lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis&nbsp;a, id&nbsp;bibendum. Egestas lorem eros, mi&nbsp;cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.
                    a(href="").services__link.btn.btn--stroke.btn--stroke-primary lern more
            li.services__item.services__item--revers
                .services__image
                    img(src=require("../assets/img/services-4.jpg"), alt="services-1").services__img
                .services__info 
                    h2.services__title Repairs
                    p.services__descr Facilisis cursus feugiat sit pulvinar amet. Ac&nbsp;facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id&nbsp;egestas mattis. Turpis viverra nec urna ultrices urna.
                    a(href="").services__link.btn.btn--stroke.btn--stroke-primary lern more