

.header{
    padding-top: 2.3rem;
    //padding-bottom: 2.1rem;
    &__container{
        @include flex-all-sb;
    }
    &--main{
    background-color: var(--color-ligth);  
    }
    &__nav{
        margin-left: -11.2rem;
    }
    &--secondary{
       position: absolute;
       left: 0;
       top: 0;
        width: 100%;
    }
}