.hero{
    padding-top: 22rem;
    padding-bottom: 35.5rem;
    color: var(--color-ligth);
    background-color: var(--color-gray);
    background-image: url(./../img/bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__content{
        max-width: 59rem;
    }
    &__btns{
        .btn{
            &:not(:last-child){
                margin-right: 2.2rem;
            }
        }
    }
}
