doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title БЭМ
    body 
        .about 
            .about__body 
                .about__header 
                    .about__title.title about
                    .about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque exercitationem quam, amet aliquid provident aliquam molestias quisquam praesentium quod facilis non quis dolore alias eos quasi recusandae consequatur doloribus labore.
                .about__row 
                    .about_column 
                        .item-about 
                            .item-about_icon
                            .item-about_title Lorem ipsum dolor
                            .item-about_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nesciunt eum doloremque, omnis odio minima dicta ratione porro aspernatur ut eligendi rem magnam, mollitia quod officiis ipsa optio reiciendis? Officia.
                    .about_column
                        .item-about 
                            .item-about_icon
                            .item-about_title Lorem ipsum dolor
                            .item-about_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero cum inventore, illo saepe, molestiae esse eum rerum ipsa tenetur iste alias commodi odio obcaecati reiciendis sapiente eligendi consequuntur sequi excepturi!

                    .about_column 
                        .item-about 
                            .item-about_icon
                            .item-about_title Lorem ipsum dolor
                            .item-about_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo id quod distinctio magnam dolorum. Vel architecto cumque distinctio, explicabo possimus eos amet, qui sequi delectus itaque incidunt velit quidem voluptatum.


