doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title БЭМ CreateX Construction
    body
        include ./pugPages/header.pug
        include ./pugPages/hero.pug 
        include ./pugPages/about-section.pug
        include ./pugPages/mission.pug
        include ./pugPages/services-section.pug
        include ./pugPages/portfolio-section.pug
        
        

