doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title БЭМ CreateX Services
    body
        include ./pugPages/header_services.pug
        main
            include ./pugPages/page-hero.pug
            include ./pugPages/services-content.pug
                

            include ./pugPages/contact.pug
        include ./pugPages/footer.pug